force-app/main/default/flows/Auto_Dates_Recompute_on_Due_Date_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>SetGreen</name>
        <label>SetGreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetRed</name>
        <label>SetRed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetYellow</name>
        <label>SetYellow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yellow</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bucket</name>
        <label>Bucket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetGreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Green</defaultConnectorLabel>
        <rules>
            <name>Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_DaysUntilDue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRed</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Yellow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_DaysUntilDue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetYellow</targetReference>
            </connector>
            <label>Yellow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Date_Changed</name>
        <label>Due Date Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Due_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bucket</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_DaysUntilDue</name>
        <dataType>Number</dataType>
        <expression>$Record.Due_Date__c - $Flow.CurrentDate</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Auto Dates: Recompute on Due Date change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Dates: Recompute on Due Date change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Due_Date_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
