force-app/main/default/flows/Auto_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_YearEnd_Due</name>
        <label>Set YearEnd &amp; Due</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Year_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YearEndPlusThreeMonths</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_colour</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGreen</name>
        <label>SetGreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetRed</name>
        <label>SetRed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetYellow</name>
        <label>SetYellow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yellow</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_colour</name>
        <label>Which colour?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRed</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Yellow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetYellow</targetReference>
            </connector>
            <label>Yellow</label>
        </rules>
        <rules>
            <name>Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGreen</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastDayOfMonth</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISBLANK( $Record.Year_End_Date__c ),
  NULL,
  DATE(
    YEAR( $Record.Year_End_Date__c ),
    MONTH( $Record.Year_End_Date__c ) + 1,
    1
  ) - 1
)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>YearEndPlusThreeMonths</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Year_End_Date__c},3)</expression>
    </formulas>
    <interviewLabel>Auto Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_YearEnd_Due</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
