force-app/main/default/flows/FL_Agent_Accounts_Under_Employee_Threshold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Results</name>
        <label>Set Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>results</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts_Under_Threshold</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>maxEmployeesNum</name>
        <dataType>Number</dataType>
        <expression>VALUE(
  SUBSTITUTE(
    SUBSTITUTE(LOWER({!maxEmployeesText}), &#39;k&#39;, &#39;000&#39;),
    &#39;,&#39;, &#39;&#39;
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL Agent Accounts Under Employee Threshold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Agent Accounts Under Employee Threshold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_Under_Threshold</name>
        <label>Get_Accounts_Under_Threshold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>maxEmployeesNum</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>NumberOfEmployees</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_Under_Threshold</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>maxEmployeesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>results</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
