force-app/main/default/flows/FL_List_Contacts_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append</name>
        <label>Append</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollection</name>
        <label>AssignCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetAll</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Filter_TItle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignCollection</name>
        <label>Copy 1 of AssignCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetAll</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>Copy_1_of_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Filter_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_AssignCollection</name>
        <label>Copy 2 of AssignCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetAll</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>Copy_2_of_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Filter_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_AssignCollection</name>
        <label>Copy 3 of AssignCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetAll</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>Copy_3_of_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Filter_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_AssignCollection</name>
        <label>Copy 4 of AssignCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetAll</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>Copy_4_of_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Filter_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_AssignCollection</name>
        <label>Copy 5 of AssignCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetAll</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>Copy_5_of_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyCreatedDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoMatches</name>
        <label>NoMatches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;No contacts matched your filters.&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCutoffPast</name>
        <label>SetCutoffPast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cutoffPast</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDone</name>
        <label>SetDone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Copy_1_of_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 1 of Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Copy_5_of_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAll</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_5_of_Filter.Email</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>emailDomain</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_AssignCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_2_of_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 2 of Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Copy_5_of_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAll</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_5_of_Filter.Name</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>account</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_AssignCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_3_of_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 3 of Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Copy_5_of_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAll</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_5_of_Filter.MailingCity</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>city</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_3_of_AssignCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_4_of_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 4 of Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Copy_5_of_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAll</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_5_of_Filter.MailingState</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>state</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_4_of_AssignCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_5_of_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 5 of Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Copy_5_of_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAll</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_5_of_Filter.CreatedDate</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>cutoffPast</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_5_of_AssignCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Copy_5_of_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAll</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_5_of_Filter.Title</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>title</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>AssignCollection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any</name>
        <label>Any?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoMatches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAny</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyCreatedDays</name>
        <label>AnyCreatedDays?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createdDays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCutoffPast</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanAppend</name>
        <label>CanAppend?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAppend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Filter_Email</name>
        <label>Filter Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Filter_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Filter</targetReference>
            </connector>
            <label>Copy 2 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Filter_TItle</name>
        <label>Filter Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Filter_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailDomain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Filter</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Filter_Email</name>
        <label>Filter City</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Filter_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Filter</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Filter_Email</name>
        <label>Filter State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Filter_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>state</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Filter</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Filter_Email</name>
        <label>Filter Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createdDays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Filter</targetReference>
            </connector>
            <label>Copy 4 of Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_TItle</name>
        <label>Filter TItle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Filter_TItle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + (-1 *{!createdDays})</expression>
    </formulas>
    <interviewLabel>FL List Contacts Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL List Contacts Text</label>
    <loops>
        <name>LoopC</name>
        <label>LoopC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CanAppend</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAll</name>
        <label>GetAll</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_TItle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Contacts:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- {!LoopC.Name}: &lt;/p&gt;&lt;ul&gt;&lt;li&gt;Title: {!LoopC.Title} &lt;/li&gt;&lt;li&gt;Email: {!LoopC.Email} &lt;/li&gt;&lt;li&gt;Account: {!LoopC.Account.Name} &lt;/li&gt;&lt;li&gt;City: {!LoopC.MailingCity}, {!LoopC.MailingState}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>createdDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Copy_5_of_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>cutoffPast</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>emailDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>limitN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
