force-app/main/default/flows/FL_List_Accounts_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append_One_Line</name>
        <label>Append One Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_rowNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finished_Flow</name>
        <label>Finished Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>REturn_Error</name>
        <label>Return Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Finished_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Within_Limit</name>
        <label>Within Limit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Finished_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Over Limit</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_rowNum</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>f_EffectiveLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_One_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_EffectiveLimit</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!v_limitN}), 10, {!v_limitN})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL List Accounts Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL List Accounts Text</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Accounts_Sorted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Within_Limit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finished_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_Sorted</name>
        <label>Get Accounts Sorted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>REturn_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_Sorted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Error</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Sorry, I couldn’t list accounts because of an error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- {!Loop_Account.Name} &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_limitN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Showing accounts:</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_rowNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
