force-app/main/default/flows/FL_List_WorkItems_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append_Line</name>
        <label>Append Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DoneNone</name>
        <label>DoneNone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No work items matched your filters.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DoneSome</name>
        <label>DoneSome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_WI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_Filtered_by_Account</name>
        <label>Set Loop to Filtered by Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_All_WI</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_OverdueOnly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_Filtered_By_Days</name>
        <label>Set Loop to Filtered By Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_All_WI</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_DueStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_Filtered_By_Due_Status</name>
        <label>Set Loop to Filtered By Due Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_All_WI</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByDueStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_Filtered_By_Overdue</name>
        <label>Set Loop to Filtered By Overdue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_All_WI</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByOverdue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_Filtered_by_Priority</name>
        <label>Set Loop to Filtered by Priority</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_All_WI</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_Filtered_by_Status</name>
        <label>Set Loop to Filtered by Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_All_WI</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Priority</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FilterByAccount</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByAccount</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_WI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByAccount.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Account.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Loop_to_Filtered_by_Account</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterByDays</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByDays</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByDays</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_WI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByDays.Due_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterByDays.Due_Date__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>cutoffDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterByDays.Due_Date__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Loop_to_Filtered_By_Days</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterByDueStatus</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByDueStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByDueStatus</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_WI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByDueStatus.Due_Status_Code__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>dueStatus</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Loop_to_Filtered_By_Due_Status</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterByOverdue</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByOverdue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByOverdue</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_WI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByOverdue.Due_Date__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterByOverdue.Due_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Loop_to_Filtered_By_Overdue</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterByPriority</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByPriority</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByPriority</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_WI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByPriority.Priority</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>priority</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Loop_to_Filtered_by_Priority</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterByStatus</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByStatus</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_WI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByStatus.Status</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>status</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Loop_to_Filtered_by_Status</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>AnyRows</name>
        <label>AnyRows?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DoneNone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Some</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoneSome</targetReference>
            </connector>
            <label>Some</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Account</name>
        <label>Filter Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_OverdueOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPriorityFilter</defaultConnectorLabel>
        <rules>
            <name>HasAccountFilter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>HasAccountFilter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Days</name>
        <label>Filter Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_DueStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasDaysFilter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByDays</targetReference>
            </connector>
            <label>HasDaysFilter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_DueStatus</name>
        <label>Filter DueStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopWI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasDueStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dueStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByDueStatus</targetReference>
            </connector>
            <label>HasDueStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_OverdueOnly</name>
        <label>Filter OverdueOnly</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasOHasOverdueFilter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>overdueOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByOverdue</targetReference>
            </connector>
            <label>HasOverdueFilter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Priority</name>
        <label>Filter Priority</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPriorityFilter</defaultConnectorLabel>
        <rules>
            <name>HasPriorityFilter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByPriority</targetReference>
            </connector>
            <label>HasPriorityFilter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Status</name>
        <label>Filter Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoStatusFilter</defaultConnectorLabel>
        <rules>
            <name>HasFilterStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByStatus</targetReference>
            </connector>
            <label>HasFilterStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>LimitExists</name>
        <label>LimitExists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Append_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoLimit</defaultConnectorLabel>
        <rules>
            <name>HasLimit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>limitN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnderLimit</targetReference>
            </connector>
            <label>HasLimit</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnderLimit</name>
        <label>UnderLimit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AnyRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cutoffDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!days}</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FL List WorkItems Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL List WorkItems Text</label>
    <loops>
        <name>LoopWI</name>
        <label>Loop WI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_WI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LimitExists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AnyRows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilterByAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_WI</name>
        <label>Get All WI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Work Items:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;{!LoopWI.CaseNumber}:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Subject: {!LoopWI.Subject}&lt;/li&gt;&lt;li&gt;Priority: {!LoopWI.Priority}&lt;/li&gt;&lt;li&gt;Status: {!LoopWI.Status}&lt;/li&gt;&lt;li&gt;Due: {!LoopWI.Due_Date__c}&amp;nbsp;&lt;/li&gt;&lt;li&gt;Hours Billed: {!LoopWI.Total_Hours_Billed__c}&lt;/li&gt;&lt;li&gt;Hours Logged: {!LoopWI.Total_Hours_Logged__c}&lt;/li&gt;&lt;li&gt;Account: {!LoopWI.Account.Name}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_FilterByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByDays</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByDueStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByHoursMin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByOverdue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByPriority</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dueStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hoursMax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>hoursMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>limitN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>overdueOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
