force-app/main/default/flows/FL_My_Open_WorkItems_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append</name>
        <label>Append</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FilterRecords</name>
        <label>FilterRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetMine</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterDueDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FilterRecords2</name>
        <label>FilterRecords2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetMine</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>FilterByDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsDone</name>
        <label>IsDone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>IsDone1</name>
        <label>IsDone1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You have no open work items</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>FilterByDueDate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByDueDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByDueDate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetMine</collectionReference>
        <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByDueDate.Due_Date__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>dueDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterByDueDate.Due_Date__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>cutoffDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterByDueDate.Due_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterByDueDate.Due_Date__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>todaysDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>FilterRecords2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterByStatus</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterByStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterByStatus</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetMine</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterByStatus.Status</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>status</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>FilterRecords</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any</name>
        <label>Any?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsDone1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsDone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanAppend</name>
        <label>CanAppend?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopMine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasLimit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append</targetReference>
            </connector>
            <label>HasLimit</label>
        </rules>
    </decisions>
    <decisions>
        <name>FilterDueDate</name>
        <label>FilterDueDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopMine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dueDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>days</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByDueDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FilterStatus</name>
        <label>FilterStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FilterDueDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterByStatus</targetReference>
            </connector>
            <label>HasStatus</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cutoffDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!days}</expression>
    </formulas>
    <formulas>
        <name>InstanceBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_620}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_620}) - 1)</expression>
    </formulas>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>WorkItemUrl</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Case/&quot; &amp; {!LoopMine.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>FL My Open WorkItems Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL My Open WorkItems Text</label>
    <loops>
        <name>LoopMine</name>
        <label>LoopMine</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetMine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CanAppend</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMine</name>
        <label>GetMine</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilterStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Return Filed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your open work items:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- &lt;a href=&quot;{!WorkItemUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!LoopMine.CaseNumber}&lt;/a&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Subject: {!LoopMine.Subject}&lt;/li&gt;&lt;li&gt;Priority: {!LoopMine.Priority}&lt;/li&gt;&lt;li&gt;Status: {!LoopMine.Status}&lt;/li&gt;&lt;li&gt;Due: {!LoopMine.Due_Date__c}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_FilterByDueDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterByStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>limitN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
