force-app/main/default/flows/FL_Prospect_Fact_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>IsDone</name>
        <label>IsDone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Msg1</name>
        <label>Msg1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NotFound</name>
        <label>NotFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NothingFound</name>
        <label>NothingFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetFound</name>
        <label>SetFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Info2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFound1</name>
        <label>SetFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>prospectFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FoundById</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundAny</name>
        <label>FoundAny?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NothingFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundSome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsDone</targetReference>
            </connector>
            <label>Some</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundById</name>
        <label>FoundById?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Msg1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id</name>
        <label>Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ByName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_LooksLikeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ById</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_IsIndividualType_ById</name>
        <dataType>String</dataType>
        <expression>IF({!ById.RecordTypeId}=&quot;012gK000001oeCzQAI&quot;,&quot;Individual&quot;, &quot;Corporate&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_IsIndividualType_ByName</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Prospects.RecordTypeId}=&quot;012gK000001oeCzQAI&quot;,&quot;Individual&quot;, &quot;Corporate&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_LooksLikeId</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN({!f_TrimKey})=15, LEN({!f_TrimKey})=18)</expression>
    </formulas>
    <formulas>
        <name>f_TrimKey</name>
        <dataType>String</dataType>
        <expression>TRIM({!prospectKey})</expression>
    </formulas>
    <formulas>
        <name>InstanceBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_620}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_620}) - 1)</expression>
    </formulas>
    <formulas>
        <name>ProspectUrlById</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Lead/&quot; &amp; {!ById.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>ProspectUrlByName</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Lead/&quot; &amp; {!Loop_Prospects.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>FL Prospect Fact Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Prospect Fact Text</label>
    <loops>
        <name>Loop_Prospects</name>
        <label>Loop Prospects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ByName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FoundAny</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ById</name>
        <label>ById</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetFound1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prospectKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ByName</name>
        <label>ByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prospects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>prospectKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Info</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- Prospect &lt;a href=&quot;{!ProspectUrlById}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!prospectFound.Name}&lt;/a&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Type: {!f_IsIndividualType_ById}&lt;/li&gt;&lt;li&gt;Product Interest: {!prospectFound.ProductInterest__c}&lt;/li&gt;&lt;li&gt;Email: {!prospectFound.Email}&lt;/li&gt;&lt;li&gt;Phone: {!prospectFound.Phone}&lt;/li&gt;&lt;li&gt;Industry: {!prospectFound.Industry}&lt;/li&gt;&lt;li&gt;Website: {!prospectFound.Website}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Info2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- Prospect &lt;a href=&quot;{!ProspectUrlByName}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Prospects.Name}&lt;/a&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Type: {!f_IsIndividualType_ByName}&lt;/li&gt;&lt;li&gt;Product Interest: {!Loop_Prospects.ProductInterest__c}&lt;/li&gt;&lt;li&gt;Email: {!Loop_Prospects.Email}&lt;/li&gt;&lt;li&gt;Phone: {!Loop_Prospects.Phone}&lt;/li&gt;&lt;li&gt;Industry: {!Loop_Prospects.Industry}&lt;/li&gt;&lt;li&gt;Website: {!Loop_Prospects.Website}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_NotFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No work item found for {!prospectKey}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_subject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prospectFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>prospectKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
