force-app/main/default/flows/FL_Prospect_Finder_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Append_Line</name>
        <label>Copy 1 of Append Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_NoRows</name>
        <label>Copy 1 of NoRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No prospects matched your filters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Append_Line</name>
        <label>Copy 2 of Append Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_NoRows</name>
        <label>Copy 2 of NoRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No prospects matched your filters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Append_Line</name>
        <label>Copy 3 of Append Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_NoRows</name>
        <label>Copy 3 of NoRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No prospects matched your filters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Append_Line</name>
        <label>Copy 4 of Append Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Line4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_NoRows</name>
        <label>Copy 4 of NoRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No prospects matched your filters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichFilters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isDone</name>
        <label>Done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_1_of_AnyRows</name>
        <label>Copy 1 of AnyRows?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_NoRows</targetReference>
            </connector>
            <label>Copy 1 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_UnderLimit</name>
        <label>Copy 1 of UnderLimit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_AnyRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Append_Line</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_AnyRows</name>
        <label>Copy 2 of AnyRows?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_NoRows</targetReference>
            </connector>
            <label>Copy 2 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_UnderLimit</name>
        <label>Copy 2 of UnderLimit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_AnyRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Append_Line</targetReference>
            </connector>
            <label>Copy 2 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_AnyRows</name>
        <label>Copy 3 of AnyRows?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_NoRows</targetReference>
            </connector>
            <label>Copy 3 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_UnderLimit</name>
        <label>Copy 3 of UnderLimit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_3_of_AnyRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Append_Line</targetReference>
            </connector>
            <label>Copy 3 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_AnyRows</name>
        <label>Copy 4 of AnyRows?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_NoRows</targetReference>
            </connector>
            <label>Copy 4 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_UnderLimit</name>
        <label>Copy 4 of UnderLimit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_AnyRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>limitN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Append_Line</targetReference>
            </connector>
            <label>Copy 4 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichFilters</name>
        <label>WhichFilters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetProspectsBoth4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>BothProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>industry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProspects1</targetReference>
            </connector>
            <label>BothProvided</label>
        </rules>
        <rules>
            <name>OnlyIndustry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>industry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProspects2</targetReference>
            </connector>
            <label>OnlyIndustry</label>
        </rules>
        <rules>
            <name>OnlyStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>industry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProspectsBoth3</targetReference>
            </connector>
            <label>OnlyStatus</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InstanceBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_620}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_620}) - 1)</expression>
    </formulas>
    <formulas>
        <name>ProspectUrl1</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Lead/&quot; &amp; {!Copy_1_of_Loop_Prospects.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>ProspectUrl2</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Lead/&quot; &amp; {!Copy_2_of_Loop_Prospects.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>ProspectUrl3</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Lead/&quot; &amp; {!Copy_3_of_Loop_Prospects.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>ProspectUrl4</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Lead/&quot; &amp; {!Copy_4_of_Loop_Prospects.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>FL Prospect Finder Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Prospect Finder Text</label>
    <loops>
        <name>Copy_1_of_Loop_Prospects</name>
        <label>Copy 1 of Loop Prospects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetProspects1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_UnderLimit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_AnyRows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_2_of_Loop_Prospects</name>
        <label>Copy 2 of Loop Prospects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetProspects2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_UnderLimit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_AnyRows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_3_of_Loop_Prospects</name>
        <label>Copy 3 of Loop Prospects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetProspectsBoth3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_3_of_UnderLimit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_3_of_AnyRows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_4_of_Loop_Prospects</name>
        <label>Copy 4 of Loop Prospects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetProspectsBoth4</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_4_of_UnderLimit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_4_of_AnyRows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProspects1</name>
        <label>Get Prospects Both</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Prospects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry</field>
            <operator>Contains</operator>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProspects2</name>
        <label>Get Prospects Industry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Loop_Prospects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry</field>
            <operator>Contains</operator>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProspectsBoth3</name>
        <label>Get Prospects Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Loop_Prospects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProspectsBoth4</name>
        <label>Get Prospects All</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Loop_Prospects</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Prospects:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- &lt;a href=&quot;{!ProspectUrl1}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Copy_1_of_Loop_Prospects.Name}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Industry: {!Copy_1_of_Loop_Prospects.Industry}&lt;/li&gt;&lt;li&gt;Status: {!Copy_1_of_Loop_Prospects.Status}&lt;/li&gt;&lt;li&gt;Owner: {!Copy_1_of_Loop_Prospects.Owner:User.Name}&lt;/li&gt;&lt;li&gt;Employees: {!Copy_1_of_Loop_Prospects.NumberOfEmployees}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- &lt;a href=&quot;{!ProspectUrl2}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Copy_2_of_Loop_Prospects.Name}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Industry: {!Copy_2_of_Loop_Prospects.Industry}&lt;/li&gt;&lt;li&gt;Status: {!Copy_2_of_Loop_Prospects.Status}&lt;/li&gt;&lt;li&gt;Owner: {!Copy_2_of_Loop_Prospects.Owner:User.Name}&lt;/li&gt;&lt;li&gt;Employees: {!Copy_2_of_Loop_Prospects.NumberOfEmployees}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- &lt;a href=&quot;{!ProspectUrl3}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Copy_3_of_Loop_Prospects.Name}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Industry: {!Copy_3_of_Loop_Prospects.Industry}&lt;/li&gt;&lt;li&gt;Status: {!Copy_3_of_Loop_Prospects.Status}&lt;/li&gt;&lt;li&gt;Owner: {!Copy_3_of_Loop_Prospects.Owner:User.Name}&lt;/li&gt;&lt;li&gt;Employees: {!Copy_3_of_Loop_Prospects.NumberOfEmployees}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Line4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- &lt;a href=&quot;{!ProspectUrl4}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Copy_4_of_Loop_Prospects.Name}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Industry: {!Copy_4_of_Loop_Prospects.Industry}&lt;/li&gt;&lt;li&gt;Status: {!Copy_4_of_Loop_Prospects.Status}&lt;/li&gt;&lt;li&gt;Owner: {!Copy_4_of_Loop_Prospects.Owner:User.Name}&lt;/li&gt;&lt;li&gt;Employees: {!Copy_4_of_Loop_Prospects.NumberOfEmployees}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>industry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>limitN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
