force-app/main/default/flows/FL_Update_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append_Msg</name>
        <label>Append Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_AppendManyByName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Changes_Made</name>
        <label>Changes Made</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_ChangesMade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DoneByName</name>
        <label>DoneByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_NoMatch</name>
        <label>Handle NoMatch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_NoMatch</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_Update_Record</name>
        <label>Init Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accFound.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_Set_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoChanges1</name>
        <label>NoChanges</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_NoChanges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_AccFound_ByName</name>
        <label>Set AccFound ByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_ByName_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccFound_ByNumber</name>
        <label>Set AccFound ByNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_ByNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_ByName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Target</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_ManyByName</name>
        <label>Set Message ManyByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_ManyByName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAnnRev</name>
        <label>SetAnnRev</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_Set_Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBillCity</name>
        <label>SetBillCity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBillCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nothing_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBillCountry</name>
        <label>SetBillCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBillCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nothing_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBillPostalCode</name>
        <label>SetBillPostalCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBillPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nothing_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBillState</name>
        <label>SetBillState</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBillState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nothing_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBillStreet</name>
        <label>SetBillStreet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBillStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nothing_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmployees</name>
        <label>SetEmployees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_Set_AnnRev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndustry</name>
        <label>SetIndustry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newIndustry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_Set_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhone</name>
        <label>SetPhone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_Set_Website</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWebsite</name>
        <label>SetWebsite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accUpdates.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newWebsite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_Set_Employees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Name_Provided</name>
        <label>Account Name Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decide_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ByName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Number_Provided</name>
        <label>Account Number Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_Name_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountNumber</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ByNumber</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Target</name>
        <label>Decide Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Handle_NoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMatch</defaultConnectorLabel>
        <rules>
            <name>UseNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_ByNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccFound_ByNumber</targetReference>
            </connector>
            <label>UseNumber</label>
        </rules>
        <rules>
            <name>OneByName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ByName_Single</targetReference>
            </connector>
            <label>OneByName</label>
        </rules>
        <rules>
            <name>ManyByName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Message_ManyByName</targetReference>
            </connector>
            <label>ManyByName</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_Set_AnnRev</name>
        <label>Maybe Set AnnRev</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_Set_Industry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasAnnRev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAnnualRevenue</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAnnRev</targetReference>
            </connector>
            <label>HasAnnRev</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_Set_Billing</name>
        <label>Maybe Set Billing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nothing_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasBillCity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newBillCity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBillCity</targetReference>
            </connector>
            <label>HasBillCity</label>
        </rules>
        <rules>
            <name>HasBillCountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newBillCountry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBillCountry</targetReference>
            </connector>
            <label>HasBillCountry</label>
        </rules>
        <rules>
            <name>HasBillPostalCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newBillPostalCode</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBillPostalCode</targetReference>
            </connector>
            <label>HasBillPostalCode</label>
        </rules>
        <rules>
            <name>HasBillState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newBillState</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBillState</targetReference>
            </connector>
            <label>HasBillState</label>
        </rules>
        <rules>
            <name>HasBillStreet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newBillStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBillStreet</targetReference>
            </connector>
            <label>HasBillStreet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_Set_Employees</name>
        <label>Maybe Set Employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_Set_AnnRev</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasEmp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEmployees</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmployees</targetReference>
            </connector>
            <label>HasEmp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_Set_Industry</name>
        <label>Maybe Set Industry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_Set_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasIndustry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newIndustry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIndustry</targetReference>
            </connector>
            <label>HasIndustry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_Set_Phone</name>
        <label>Maybe Set Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_Set_Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newPhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhone</targetReference>
            </connector>
            <label>HasPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_Set_Website</name>
        <label>Maybe Set Website</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_Set_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasWebsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newWebsite</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetWebsite</targetReference>
            </connector>
            <label>HasWebsite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nothing_To_Update</name>
        <label>Nothing To Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DoUpdate</defaultConnectorLabel>
        <rules>
            <name>NoChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changesMade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoChanges1</targetReference>
            </connector>
            <label>NoChanges</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountUrl</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Account/&quot; &amp; {!accFound.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>AccountUrlLoop</name>
        <dataType>String</dataType>
        <expression>{!InstanceBaseUrl} &amp; &quot;/lightning/r/Account/&quot; &amp; {!Loop_Accounts.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>InstanceBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_620}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_620}) - 1)</expression>
    </formulas>
    <interviewLabel>FL Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Update Account</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_ByName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Msg</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DoneByName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_ByName</name>
        <label>Get Account ByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ByName_Single</name>
        <label>Get Account ByName Single</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AccFound_ByName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ByNumber</name>
        <label>Get Account ByNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Name_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changes_Made</targetReference>
        </connector>
        <inputReference>accUpdates</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Number_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_AppendManyByName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- &lt;a href=&quot;{!AccountUrlLoop}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Accounts.Name}&lt;/a&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Loop_Accounts.AccountNumber}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_ChangesMade</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Updated Account &lt;a href=&quot;{!AccountUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!accFound.Name}&lt;/a&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_ManyByName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Multiple accounts found. Please specify one by Account Number:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_NoChanges</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No changes provided.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_NoMatch</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;I couldn’t find an account from the info provided. Please give an Account Number or exact Account Name.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>changesMade</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newAnnualRevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newBillCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newBillCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newBillPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newBillState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newBillStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>newIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
