force-app/main/default/flows/FL_Update_Prospect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append_Msg</name>
        <label>Append Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_AppendManyByName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Changes_Made</name>
        <label>Changes Made</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_ChangesMade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DoneByName</name>
        <label>DoneByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_NoMatch</name>
        <label>Handle NoMatch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_NoMatch</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_Update_Record</name>
        <label>Init Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadFound.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Changes</name>
        <label>No Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_NoChanges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>done</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Prospects_By_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Target</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LeadFound_ById</name>
        <label>Set LeadFound ById</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prospects_By_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LeadFound_ByName</name>
        <label>Set LeadFound ByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prospect_ByName_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_ManyByName</name>
        <label>Set Message ManyByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_ManyByName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prospects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCompany</name>
        <label>SetCompany</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmail</name>
        <label>SetEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmployees</name>
        <label>SetEmployees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndustry</name>
        <label>SetIndustry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newIndustry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhone</name>
        <label>SetPhone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatus</name>
        <label>SetStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nothing_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTitle</name>
        <label>SetTitle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadUpdates.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maybe_New_Phone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Target</name>
        <label>Decide Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Handle_NoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prospects_By_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LeadFound_ById</targetReference>
            </connector>
            <label>UseId</label>
        </rules>
        <rules>
            <name>OneByName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prospect_ByName_Single</targetReference>
            </connector>
            <label>OneByName</label>
        </rules>
        <rules>
            <name>ManyByName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Message_ManyByName</targetReference>
            </connector>
            <label>ManyByName</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_Provided</name>
        <label>Id Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Name_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prospects_By_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Company</name>
        <label>Maybe New Company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_New_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCompany</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCompany</targetReference>
            </connector>
            <label>HasCompany</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Email</name>
        <label>Maybe New Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_New_Industry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmail</targetReference>
            </connector>
            <label>HasEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Employees</name>
        <label>Maybe New Employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_New_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasEmployees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEmployees</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmployees</targetReference>
            </connector>
            <label>HasEmployees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Industry</name>
        <label>Maybe New Industry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_New_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasIndustry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newIndustry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIndustry</targetReference>
            </connector>
            <label>HasIndustry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Phone</name>
        <label>Maybe New Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_New_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newPhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhone</targetReference>
            </connector>
            <label>HasPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Status</name>
        <label>Maybe New Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nothing_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStatus</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatus</targetReference>
            </connector>
            <label>HasStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maybe_New_Title</name>
        <label>Maybe New Title</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Maybe_New_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasTitle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTitle</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTitle</targetReference>
            </connector>
            <label>HasTitle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Provided</name>
        <label>Name Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decide_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prospects_By_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nothing_To_Update</name>
        <label>Nothing To Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Prospect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changesMade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Changes</targetReference>
            </connector>
            <label>NoChanges</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FL Update Prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Update Prospect</label>
    <loops>
        <name>Loop_Prospects</name>
        <label>Loop Prospects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Prospects_By_Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Msg</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DoneByName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Prospect_ByName_Single</name>
        <label>Get Prospect ByName Single</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_LeadFound_ByName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>leadName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prospects_By_Id</name>
        <label>Get Prospects By Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prospects_By_Name</name>
        <label>Get Prospects By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>leadName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prospect</name>
        <label>Update Prospect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changes_Made</targetReference>
        </connector>
        <inputReference>leadUpdates</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Id_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_AppendManyByName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;- {!Loop_Prospects.Name}:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Loop_Prospects.Id}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_ChangesMade</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Updated Prospect {!leadFound.Name}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_ManyByName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Multiple prospects found. Please specify one by Prospect Id:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_NoChanges</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No changes provided.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_NoMatch</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;I couldn’t find a prospect from the info provided. Please give a Prospect Id or exact Prospect Name.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>changesMade</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>done</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>newIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
